extends ../layout/masterLayout
block content
    .container
        h2.text-center.mt-3 Login

        if errors
            each err in errors
                .alert.alert-danger= err

        form(action="", method="POST")
            .form-group
                label(for='name') User Name
                input#name.form-control(type='text', name="userName", 
                value= values ? values.userName : '' ,placeholder='Enter name')
            .form-group
                label(for='password') Password
                input#password.form-control(type='password', name="password", 
                value= values ? values.password : '', placeholder='Password')
            
            button.btn.btn-primary(type='submit') Submit